<div class="post">
  <img src="/user-icon.svg" alt="Avatar" class="avatar">
  <div class="post-content">
    <div class="user-name">
      <% if(currentUser?.is_member) { %>
        <%=post.firstname %>
          <%= post.lastname %>
            <% } else {%>
              Anonymous
              <% } %>
    </div>
    <div class="post-title">
      <%= post.title %>
    </div>
    <div class="post-body">
      <%= post.body %>
    </div>
    <% if(currentUser?.is_member) { %>
      <div class="info-section">
        <div class="date-chip">
          <%= new Intl.DateTimeFormat('en-IN', { dateStyle:'medium' , timeStyle: 'short' } ).format(new
            Date(post.created_at)) %>
        </div>
        <% if(currentUser?.is_admin) { %>
          <div class="dot">•</div>
          <a href="/post/delete/<%= post.id %>"><img class="delete-icon" src="/delete-icon.svg" alt="Delete"></a>
          <% } %>
      </div>
      <% } %>
  </div>

</div>