<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RXTX Clubhouse</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>

<body>
  <%- include("./partials/header") %>
    <div class="content-container">
      <div class="content">
        <% if(locals.currentUser) {%>
          <div class="welcome-banner">
            <% if(!currentUser.is_member && !currentUser.is_admin) { %>
              <div class="greeting-section">
                <div class="greeting">Welcome, <%= currentUser.firstname %>!</div>
                <div class="subtext">Join the club to become a member.</div>
              </div>
              <a class="banner-button" href="/membership/code">
                Get Membership
              </a>
              <% } else if(currentUser.is_admin) { %>
                <div class="greeting-section">
                  <div class="greeting">Welcome, <%= currentUser.firstname %>!</div>
                  <div class="subtext">You are a moderator of this exclusive club.</div>
                </div>
                <a class="banner-button" href="/post/new">
                  New Post
                </a>
                <% } else if(currentUser.is_member) { %>
                  <div class="greeting-section">
                    <div class="greeting">Welcome, <%= currentUser.firstname %>!</div>
                    <div class="subtext">You are a member of this exclusive club.</div>
                  </div>
                  <a class="banner-button" href="/post/new">
                    New Post
                  </a>
                  <% } %>
          </div>
          <% } %>
            <div class="posts-section">
              <div class="title-section">
                <div class="title">Posts</div>
                <% if(locals.currentUser && !currentUser?.is_member) { %>
                  <a href="/post/new" class="chip" style="color:#f4f4f4; font-family: 'Poppins-SemiBold';">New
                    Post</a>
                  <% } %>
              </div>
              <% if (locals.posts) { %>
                <% if(!posts || posts.length===0) { %>
                  <div class="no-posts">Crickets here... Be the first one to post!</div>
                  <% } else { %>
                    <div class="posts-container">
                      <% posts.forEach((post)=> { %>
                        <%- include("./partials/post.ejs", {post:post}) %>
                          <% }) %>
                    </div>
                    <% }} %>
            </div>
            <% if(!locals.currentUser) { %>
              <div class="end-of-page-prompt">
                <div class="chip">Discuss about tech, robotics and hardware by joining the club</div>
                <div class="action-links">
                  <a href="/auth/log-in">Login</a> or <a href="/auth/sign-up">Sign Up</a>
                </div>
              </div>
              <% } else if(currentUser?.is_member && !currentUser?.is_admin) { %>
                <div class="end-of-page-prompt">
                  <div class="chip">Managing the clubhouse is a big responsibility. Become a club moderator!</div>
                  <div class="action-links">
                    <a href="/admin/code">Join Now</a>
                  </div>
                </div>
                <% } %>
      </div>
    </div>
    </div>
</body>

</html>